.story-page {
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  
  .story-container {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    height: max-content;
    width: 400px;
  }
}
.active {
    transform: scale(1);
  }
